<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <connectionStrings>
    <add name="FrameworkDBConnectionString" connectionString="Data Source=192.168.0.247;Initial Catalog=BBG_PCS_FRMDB;"/>
    <add name="BusinessDBConnectionString" connectionString="Data Source=192.168.0.247;Initial Catalog=BBG_PCS_MISDB;"/>
  </connectionStrings>
  <log4net>
    <!--控制台日志附加属性设置-->
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="FATAL"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <foreColor value="Yellow,HighIntensity"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="White,HighIntensity"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="Green,HighIntensity"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level- %message%newline"/>
      </layout>
    </appender>
    <!--文件日志附加属性设置-->
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="系统日志.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level- %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="系统日志.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maximumFileSize value="10000KB"/>
      <maxSizeRollBackups value="2"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level- %message%newline"/>
      </layout>
    </appender>
    <!--当前日志采用的附加属性-->
    <root>
      <level value="ERROR"/>
      <appender-ref ref="ColoredConsoleAppender"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
