@{
    ViewBag.Title = "装笼";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box">
   <table cellpadding="0" cellspacing="1">
      <tr>
           <td class="title">笼车号</td>
           <td class="content">
              <input id="txtCageNO" name="txtCageNO" type="text" class="tdInput" />
           </td>
      </tr>
      <tr>
          <td class="title">出库箱</td>
          <td class="content">
             <input id="txtTrayNO" name="txtTrayNO" type="text" class="tdInput" />
          </td>
       </tr>
    </table>
</div>
<div class="btn">
    <input  type="button" value="确认(F7)" id="btnOK" onclick="ValidateTrayNO()" />
    <input  type="button" value="完成(F8)" id="btnOver" onclick="PutOver();" />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).keydown(function (e) {
            var elem = e.srcElement || e.target;
            if (e.which == 118)//F7
            {
                $("#btnOK").click();
            }
            if (e.which == 119)//F8 
            {
                $("#btnOver").click();
            }
        });

        $("#txtCageNO").keypress(function (e) {
            if (e.which == 13) {
                ValidateCageNO();
            }
        }).blur();

        $("#txtTrayNO").keypress(function (e) {
            if (e.which == 13) {
                ValidateTrayNO();
            }
        }).blur();

        $("#txtCageNO").focus();
    })

    function SetParams() {
        var params = {
            "model.CageNO": $("#txtCageNO").val(),
            "model.TrayNO": $("#txtTrayNO").val()

        }
        return params;
    }

    function ValidateCageNO() {
        $("#Loading").css("visibility", "visible");
        $("#Msg").css("visibility", "hidden")
        $("#Msg").html("");
        var url = "/PutCage/ValidateCageNO";
        var params = SetParams();
        $.post(url, params, function (data, txtStatus) {
            if (data != "") {
                $("#Loading").css("visibility", "hidden");
                $("#Msg").css("visibility", "visible")
                $("#Msg").html(data);
                $("#txtCageNO").select();
            }
            else {
                $("#Loading").css("visibility", "hidden");
                $("#Msg").css("visibility", "hidden");
                $("#Msg").html("");
                $("#txtCageNO").attr("disabled", "disabled"); //不允许
                $("#txtTrayNO").focus();
            }
        })
    }

    function ValidateTrayNO() {
        $("#Loading").css("visibility", "visible");
        $("#Msg").css("visibility", "hidden")
        $("#Msg").html("");
        var url = "/PutCage/ValidateTrayNO";
        var params = SetParams();
        $.post(url, params, function (data, txtStatus) {
            if (data != "") {
                $("#Loading").css("visibility", "hidden");
                $("#Msg").css("visibility", "visible")
                $("#Msg").html(data);
                $("#txtTrayNO").select();
            }
            else {
                $("#Loading").css("visibility", "hidden");
                $("#Msg").css("visibility", "visible");
                $("#Msg").html("操作成功！");
                $("#txtCageNO").attr("disabled", "disabled"); //不允许
                $("#txtTrayNO").val("");
                $("#txtTrayNO").focus();
            }
        })
    }

    function PutOver() {
        if ($("#txtTrayNO").val() == "") {
            if ($("#txtCageNO").val() == "") {
                $("#Msg").css("visibility", "hidden");
                $("#Msg").html("");
            }
            else {
                $("#Msg").css("visibility", "visible");
                $("#Msg").html("操作成功！");
            }
            $("#txtCageNO").attr("disabled", ""); //允许
            $("#txtCageNO").val("");
            $("#txtCageNO").focus();
        }
        else {
            ValidateTrayNO();
        }
    }

</script>