@{
    ViewBag.Title = "出库箱查询";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<style>
    .OutBoxQuery table { background-color:#bbd9f5; width:100%;border-collapse:collapse;font-size:80%;}
    .OutBoxQuery table td{ font-size:12px; border:solid 1px #0094ff;padding:5px}
</style>
<div class="box">
    <table cellpadding="0" cellspacing="1">
        <tr>
            <td class="title">出库箱编码</td>
            <td class="content">
                <input id="txtTrayNO" name="txtTrayNO" type="text" class="tdInput" />
            </td>
        </tr>
        <tr>
            <td class="title">门店</td>
            <td class="content" id="lblStoreDesc"></td>
        </tr>
        <tr>
            <td class="title">订单</td>
            <td class="content" id="lblOrderInfo">
            </td>
        </tr>
        <tr>
            <td class="title">状态</td>
            <td class="content" id="lblStatus"></td>
        </tr>
    </table>
    <div style="height:2px">
    </div>
    <div class="OutBoxQuery">
        <table id="tbMainQuery">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<script type="text/javascript">

    $("#txtTrayNO").keypress(function (e) {
        if (e.which == 13) {
            RFOutBoxQuery();
            
        }
    });
    $("#txtTrayNO").focus();

    function RFOutBoxQuery() {
        $("#Loading").css("visibility", "visible");
        $("#Msg").css("visibility", "hidden");
        $("#Msg").html("");
        $("#lblStoreDesc").html("");
        $("#lblStatus").html("");
        $("#tbMainQuery thead").html("");
        $("#tbMainQuery tbody").html("");
        $.post("/OutBoxQuery/RFOutBoxQuery",
           {
               "TrayNO": $("#txtTrayNO").val()
           },
           function (data, textStatus) {
               var dataObj;
               try {
                   dataObj = eval(data);
                   if (dataObj == undefined || dataObj.length <= 0) {
                       //数据异常
                       $("#tbMainQuery thead").html("");
                       $("#tbMainQuery tbody").html("");
                       $("#Loading").css("visibility", "hidden");
                       $("#Msg").css("visibility", "visible");
                       $("#Msg").html(data);
                       $("#txtTrayNO").select();
                       return;
                   }
                   $("#lblStoreDesc").html(dataObj[0]["StoreDesc"]);
                   $("#lblStatus").html(dataObj[0]["Status"]);
                   $("#lblOrderInfo").html(dataObj[0]["OrderInfo"]);
                   var TotalQty = null;
                   var TotalCaseQty = null;
                   var Count = null;
                   $("#tbMainQuery thead").html("");
                   $("#tbMainQuery tbody").html("");
                   trString = "<tr>"
                   trString += "<td>主条码</td>";
                   trString += "<td>商品名称</td>";
                   trString += "<td>包装单位</td>";
                   trString += "<td>数量</td>";
                   trString += "<td>箱数</td>";
                   trString += "</tr>"
                   $("#tbMainQuery thead").append(trString);
                   var trString = "";
                   for (var index in dataObj) {
                       trString = "<tr>"
                       trString += "<td>" + dataObj[index]["MainBarcode"] + "</td>";
                       trString += "<td>" + dataObj[index]["GoodsDesc"] + "</td>";
                       trString += "<td>" + dataObj[index]["CaseUnits"] + "</td>";
                       trString += "<td>" + dataObj[index]["Qty"] + "</td>";
                       trString += "<td>" + dataObj[index]["CaseQty"] + "</td>";
                       trString += "</tr>"
                       if (trString != "<tr></tr>")
                           $("#tbMainQuery tbody").append(trString);
                       TotalQty = TotalQty + dataObj[index]["Qty"];
                       TotalCaseQty = TotalCaseQty + dataObj[index]["CaseQty"];
                       Count = Count + 1;
                   }
                   if (TotalQty != null) {
                       trString = "<tr>"
                       trString += "<td>合计(" + Count + ")</td>";
                       trString += "<td></td>";
                       trString += "<td></td>";
                       trString += "<td>" + TotalQty + "</td>";
                       trString += "<td>" + TotalCaseQty + "</td>";
                       trString += "</tr>"
                       $("#tbMainQuery tbody").append(trString);
                   }
                   var color = "#ffeab3"
                   $("#tbMainQuery tr:odd td").css("background-color", color);  //改变偶数行背景色
                   /* 把背景色保存到属性中 */
                   $("#tbMainQuery tr:odd").attr("bg", color);
                   $("#tbMainQuery tr:even").attr("bg", "#fff");
                   $("#Loading").css("visibility", "hidden");
                   $("#txtTrayNO").select();
               }
               catch (exception) {

                   $("#tbMainQuery thead").html("");
                   $("#tbMainQuery tbody").html("");
                   $("#Loading").css("visibility", "hidden");
                   $("#Msg").css("visibility", "visible");
                   $("#Msg").html(data);
                   $("#txtTrayNO").select();
               }
           }
        )
    }
 </script>