@{
    ViewBag.Title = "采购收货";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*增加ERP单号关联*@
<form id="billForm" action="/PurchaseReceipt/Detail" method="POST" >
    <input type="hidden" id="hdErpOrgRecNO" name="hdErpOrgRecNO" />
    <input type="hidden" id="hdBillCode" name="hdBillCode" />
</form>
<form id="CS1Order" action="/PurchaseReceipt/CS1Acpt" method="POST" >
<input type="hidden" id="hdCS1OrderNO" name="hdCS1OrderNO"/>
</form>
<form id="CS2Order" action="/PurchaseReceipt/CS2Acpt" method="POST" >
<input type="hidden" id="hdCS2OrderNO" name="hdCS2OrderNO"/>
</form>
<form id="CS2OrderToStore" action="/PurchaseReceipt/CS2AcptToStore" method="POST">
    <input type="hidden" id="hdCS2ToStoreOrder" name="hdCS2ToStoreOrder" />
</form>
<form id="CS2AcptCFM" action="/CS2AcptCFM/Index" method="POST">
    <input type="hidden" id="hdCS2AcptCFM" name="hdCS2AcptCFM" />
</form>
<div class="box">
    <table cellspacing="1" cellpadding="0">
       <tr>
          <td class="title">订单号</td>
          <td class="content"><input type="text"  name="txtBillCode" id="txtBillCode" class="tdInput"  /></td>
       </tr>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtBillCode").keypress(function (e) {
            if (e.which == 13) {
                ValidatePaperNO();
            }
        }).blur();
        $("#txtBillCode").focus();
        $("#txtBillCode").select();
    })
    
    function ValidatePaperNO() {
        $("#Loading").css("visibility", "visible");
        $("#Msg").html("");
        $("#Msg").css("visibility", "hidden");
        $.post("/PurchaseReceipt/ValidateOrderCode",
      { "OrderNO": $("#txtBillCode").val() },
      function (data, txtStatus) {
              var dataObj;
              try {
                  dataObj = eval(data);
                  if (dataObj != undefined) {
                      var ProvTypeID = dataObj.ProvTypeID;
                      var PaperNO = dataObj.PaperNO;
                      var ExtTag = dataObj.ExtTag;
                      if ((ProvTypeID == "DC") || (ProvTypeID == "CS1") || (ProvTypeID == "CS2")) {
                          $("#hdErpOrgRecNO").val($("#txtBillCode").val());
                          $("#hdBillCode").val(PaperNO);
                          $("#Loading").css("visibility", "hidden");
                          $("#Msg").css("visibility", "visible");
                          $("#Msg").html("操作成功，正在跳转...");
                          Pause(this, 500); //调用暂停函数
                          this.NextStep = function () {
                              if (ProvTypeID == "DC") {
                                  $("#billForm").submit();
                              }
                              else
                                  if (ProvTypeID == "CS1") {
                                      $("#hdCS1OrderNO").val($("#hdBillCode").val());
                                      $("#CS1Order").submit();
                                  }
                                  else
                                      if (ProvTypeID == "CS2") {
                                          if (ExtTag == "1") {
                                              $("#hdCS2OrderNO").val($("#hdBillCode").val());
                                              $("#CS2Order").submit();
                                          }
                                          else if (ExtTag == "0") {
                                              $("#hdCS2ToStoreOrder").val($("#hdBillCode").val());
                                              $("#CS2OrderToStore").submit();
                                          }
                                          else if (ExtTag == "2") {
                                              
                                              $("#hdCS2AcptCFM").val($("#hdBillCode").val());
                                              $("#CS2AcptCFM").submit();
                                          }
                                         
                                      }
                          }
                      }
                  }
                  else {
                      $("#Loading").css("visibility", "hidden");
                      $("#txtBillCode").select();
                      $("#Msg").html(data);
                      $("#Msg").css("visibility", "visible")

                  }
              }
              catch (exception) {
                  $("#Loading").css("visibility", "hidden");
                  $("#txtBillCode").select();
                  $("#Msg").html(data);
                  $("#Msg").css("visibility", "visible")
                  if (data.indexOf("货主") == 0) {
                      $("#txtShipperNO").focus();
                      $("#txtShipperNO").select();
                  }
                  if (data.indexOf("供应商") == 0) {
                      $("#txtVendorNO").focus();
                      $("#txtVendorNO").select();
                  }
              }
      }
   );
  }

  ///////////////////////////////////////////////////////////////////
  function Pause(obj, iMinSecond) {
      if (window.eventList == null) window.eventList = new Array();
      var ind = -1;
      for (var i = 0; i < window.eventList.length; i++) {
          if (window.eventList[i] == null) {
              window.eventList[i] = obj;
              ind = i;
              break;
          }
      }
      if (ind == -1) {
          ind = window.eventList.length;
          window.eventList[ind] = obj;
      }
      setTimeout("GoOn(" + ind + ")", iMinSecond);
  }
  function GoOn(ind) {
      var obj = window.eventList[ind];
      window.eventList[ind] = null;
      if (obj.NextStep) obj.NextStep();
      else obj();
  }
  function GetUrlPara(paraName) {
      var sUrl = location.href;
      var sReg = "(?:\\?|&){1}" + paraName + "=([^&]*)"
      var re = new RegExp(sReg, "gi");
      re.exec(sUrl);
      return RegExp.$1;
  }
  ///////////////////////////////////////////////////////////////////
</script> 



