@{
    ViewBag.Title = "越库播种";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input id="hdCSToStoreType" type="hidden" value="@ViewData["CSToStoreType"]" />@*//0.总量一次播;1.按箱多次播*@

<div  class="box">
   <table cellpadding="0" cellspacing="1">
   <tr>
      <td class="title">越库托盘</td>
      <td  class="content">
         <input type="text" name="txtTrayNO" id="txtTrayNO" class="tdInput"/>
      </td>
   </tr>
    
 </table>  
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#txtTrayNO").keypress(function (e) {
            if (e.which == 13) {
                if ($("#hdCSToStoreType").val() == 0) {
                    ValidateTrayNO();
                }
                else {
                    ValidateTrayNO2();
                }
               
            }
        }).blur();

        $("#txtTrayNO").focus();
        $("#txtTrayNO").select();
    });

    function SetParams() {
        var params = {
            "model.OldTrayNO": $("#txtTrayNO").val(),
           //"model.CSToStoreType": $("#hdCSToStoreType").val()
        }
        return params;
    }

    //验证装车单
    function ValidateTrayNO() {
        $("#Loading").css("visibility", "visible");
        $("#Msg").css("visibility", "hidden")
        $("#Msg").html("");
        var url = "/ToStore/ValidateOldTrayNO";
        var params = SetParams();
        $.post(url, params, function (data, txtStatus) {
            if (data != "") {
                $("#Loading").css("visibility", "hidden");
                $("#Msg").css("visibility", "visible")
                $("#Msg").html(data);
                $("#txtTrayNO").select();
            }
            else {
                $("#Loading").css("visibility", "hidden");
                $("#Msg").css("visibility", "visible");
                $("#Msg").html("操作成功，正在跳转...");
                Pause(this, 500); //调用暂停函数
                this.NextStep = function () {
                    window.location.href = "ToStore/Detail?OldTrayNO=" + $("#txtTrayNO").val();
                }
            }
        })
    }
    function ValidateTrayNO2() {
        $("#Loading").css("visibility", "visible");
        $("#Msg").css("visibility", "hidden")
        $("#Msg").html("");
        var url = "/ToStore/ValidateOldTrayNO2";
        var params = SetParams();
        $.post(url, params, function (data, txtStatus) {
            if (data != "") {
                $("#Loading").css("visibility", "hidden");
                $("#Msg").css("visibility", "visible")
                $("#Msg").html(data);
                $("#txtTrayNO").select();
            }
            else {
                $("#Loading").css("visibility", "hidden");
                $("#Msg").css("visibility", "visible");
                $("#Msg").html("操作成功，正在跳转...");
                Pause(this, 500); //调用暂停函数
                this.NextStep = function () {
                    window.location.href = "ToStore/Detail2?OldTrayNO=" + $("#txtTrayNO").val();
                }
            }
        })
    }

    ///////////////////////////////////////////////////////////////////
    function Pause(obj, iMinSecond) {
        if (window.eventList == null) window.eventList = new Array();
        var ind = -1;
        for (var i = 0; i < window.eventList.length; i++) {
            if (window.eventList[i] == null) {
                window.eventList[i] = obj;
                ind = i;
                break;
            }
        }
        if (ind == -1) {
            ind = window.eventList.length;
            window.eventList[ind] = obj;
        }
        setTimeout("GoOn(" + ind + ")", iMinSecond);
    }
    function GoOn(ind) {
        var obj = window.eventList[ind];
        window.eventList[ind] = null;
        if (obj.NextStep) obj.NextStep();
        else obj();
    }
    function GetUrlPara(paraName) {
        var sUrl = location.href;
        var sReg = "(?:\\?|&){1}" + paraName + "=([^&]*)"
        var re = new RegExp(sReg, "gi");
        re.exec(sUrl);
        return RegExp.$1;
    }
    ///////////////////////////////////////////////////////////////////
</script>

